<%- include('templates/header.ejs',{titulo:'Not Found'})  %>
<div>
    <br><br><br><br><br><br>
</div>
<h1 class="text-center">404</h1>
<h1 class="text-center">No Existe el Recurso Solicitado</h1>
<h2 class="text-center">Sistema de Ergonomía para Ciclistas</h2>
<%- include ('templates/footer.ejs') %>